{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="latestalbum" class="hero pad">
  <div class="container">
  	<div class="hero-content ">
  		<!-- heading -->
  		<h2>Albums</h2>
  		<hr>
  		<!-- paragraph -->
  		<p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best <strong class="theme-color">Music</strong>.</p>
  	</div>
  
    {% for album in albums %}
  	<div class="hero-playlist">
			<div class="row">
					<div class="col-md-6 col-sm-6">
						<!-- music album image -->
						<div class="figure">
							<!-- image -->
							<img class="img-responsive" src="{{ url_for('static', filename='img/album/' + album.image_file) }}" alt="" />
							<!-- disk image -->
							<img class="img-responsive disk" src="{{ url_for('static', filename='img/album/disk.png') }}" alt="" />
						</div>
						<!-- album details -->
						<div class="album-details">
							<!-- title -->
							<h4>{{ albums.title }}</h4>
							<!-- composed by -->
							<h5>By {{ name }}</h5>
							<!-- paragraph -->
							<p>Lorem Ipsum has been the industry's standard dummy text ever since 1500.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<!-- play list -->
						<div class="playlist-content">
							<ul class="list-unstyled">
							  {% for track in album.tracks %}
								<li class="playlist-number">
									<!-- song information -->
									<div class="song-info">
										<!-- song title -->
										<h4>{{ track.title }}</h4>
										<p><strong>Album</strong>: {{ album.title }} &nbsp;|&nbsp; <strong>Type</strong>: {{ track.type }} &nbsp;|&nbsp; <strong>Singer</strong>: {{ name }}</p>
									</div>
									<!-- music icon -->
									<div class="music-icon">
									  <div class="media">
										  <audio controls=""> <source src="{{ url_for('static', filename='audio/' + track.song_path) }}" type="audio/mpeg"> Your browser does not support audio controls </source></audio>
									  </div>
									</div>
									<div class="clearfix"></div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
  	</div>
  	<br>
  	<hr>
  	<br>
  	{% endfor %}
  </div>
</div>
<br>
<br>
{% endblock %}